body {
  background-color: #f3f3f3;
  margin: 0;
}

/* #main-container {
  height: 100vh;
} */

#editor {
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
}
.center {
  display: flex;
  justify-content: center;
}

.ql-toolbar {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #f3f3f3;
}

.cursor {
  position: absolute;
  margin-top: 42px;
  margin-left: 14px;
  background-color: #00f;
  width: 2px;
  height: 2%; /* Adjust the height as needed */
  pointer-events: none;
}
